
      .logo {
        height: 32px;
        background: #ffffff;
        padding: 4px 0px;
        line-height: 30px;
        text-align: center;
        display: block;
        font-size: 18px;
        font-weight: 400;

       
      }
    