
      .logo {
        height: 78px;
        background: #ffffff;
        padding: 21px 0px;
        line-height: 30px;
        text-align: center;
        display: block;
        font-size: 18px;
        font-weight: 400;
        font-family: 'Muli', "Helvetica", Arial, sans-serif;
      }
      #card {
        height:450px;
        widows: 100%;
        margin:0 auto;
        position:relative;
        z-index:1;
        border-radius: 10px;
        perspective:600px;
        background-color: #fff;
      }
      #front {
        border-radius:10px;
        height:100%;
        width:100%;
        position:absolute;
        left:0;
        top:0;
        transform-style:preserve-3d;
        backface-visibility:hidden;
        box-shadow:0 0 10px rgba(0,0,0,.2);
      }
      #top-pic {
        height:40%;
        width:100%;
        background-image:url("src/assets/cover.jpg");
        background-size:cover;
        border-radius: 8px 8px 0px 0px;

      }
      .card1{
        float: left;
      }
      
      #avatar {
        width:114px;
        height:114px;
        top:50%;
        left:50%;
        margin:-77px 0 0 -57px;
        border-radius:100%;
        box-shadow:0 0 0 3px rgba(255,255,255,.8),0 4px 5px rgba(107,5,0,.6),0 0 50px 50px rgba(255,255,255,.25);
        background-image:url("src/assets/face-2.jpg");
        background-size:contain;
        position:absolute;
        z-index:1;
      }

      #info-box {
        height: 52%;
        width: 100%;
        position: absolute;
        display: table;
        left: 0;
        bottom: 0;
        padding: 50px;
    
      }

      #social-bar {
        height:50px;
        width:100%;
        position:absolute;
        bottom:0;
        left:0;
        text-align:center;
      }
      
      h2{
        text-align: center;
        margin-bottom: 0em;
      }
      h3{
        text-align: center;
        color: darkgrey;
        margin-bottom: 0.5em;
        font-size: 0.9em;
      }

      @media only screen and (max-width: 1024px) {
        .ant-col-7 {
          margin-top: 5%;
          display: block;
          box-sizing: border-box;
          width: 100%;
      }
      .ant-col-pull-17 {
        right: 0px;
    }

    .ant-col-17 {
      display: block;
      box-sizing: border-box;
      width: 100%;
  }
  .ant-col-pull-7 {
    right: 0px;
}
      }
hr{
  height: 0;
  overflow: visible;
  border: 0;
  border-color: #F1EAE0;
  border-top: 1px solid #cecaca ;
  margin: 0px 15px;
}
.userHr{
  height: 0;
  overflow: visible;
  border: 0;
  border-color: #F1EAE0;
  border-top: 1px solid #cecaca ;
  margin: 0px 0px;
}





/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.column .card {
  padding: 0px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 1024px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

* {
  box-sizing: border-box;
}
