
    <nz-layout>
      <nz-sider
        nzCollapsible
        [(nzCollapsed)]="isCollapsed"
        [nzBreakpoint]="'lg'"
        [nzCollapsedWidth]="0"
        [nzZeroTrigger]="zeroTrigger"
      >
        <div class="logo">                    Wipadika Innovations
        </div>
        <hr>
        <ul nz-menu [nzTheme]="'dark'"  style="    height: 100%;
        " [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
          <li nz-menu-item>
            <span><i nz-icon type="user"></i><span class="nav-text">DASHBOARD</span></span>
          </li>
          <li nz-menu-item>
            <span><i nz-icon type="video-camera"></i><span class="nav-text">USER PROFILE</span></span>
          </li>
          <li nz-menu-item>
            <span><i nz-icon type="upload"></i><span class="nav-text">TABLE LIST</span></span>
          </li>
          <li nz-menu-item>
            <span><i nz-icon type="user"></i><span class="nav-text">TYPOGRAPHY</span></span>
          </li>
          <li nz-menu-item>
            <span><i nz-icon type="user"></i><span class="nav-text">ICONS</span></span>
          </li>
          <li nz-menu-item>
            <span><i nz-icon type="user"></i><span class="nav-text">MAPS</span></span>
          </li>
          <li nz-menu-item>
            <span><i nz-icon type="user"></i><span class="nav-text">NOTIFICATIONS</span></span>
          </li>
        </ul>
      </nz-sider>
      <nz-layout>
        <nz-header style="background: #f0f2f5;
        font-weight: 600;
        margin: 5px 0px;
        padding: 0px 14%;
        color: #777;
        height: 7.89%;
        font-size: 20px; ">User Profile
        </nz-header>
        <hr class="userHr">
        <nz-content style="margin:24px 16px 0; ">
          <div style="padding:24px; background: #f0f2f5; min-height: 700px;">


            <div class="row">
              <div class="column">
                <div class="card">                <div id="card">
                  <div id="front">
                    <div id="arrow"><i class="fa fa-arrow-left"></i></div>
                    <div id="top-pic"></div>
                    <div id="avatar"></div>
                    <div id="info-box">
                      <div class="info">
                        <h2>Jon Doe</h2>
                        <h3>@JonDoe</h3>
                        <div>"I like the way you work it 
                          No diggity 
                          I wanna bag it up
                          
                          
                          "<br><br></div>
                        <hr class="userHr">
                      </div>
                    </div>
                    <div id="social-bar">
                      <table style="width:100%">
                        <tr>
                          <th>12</th>
                          <th>2Gb</th>
                          <th>24,6$</th>
                        </tr>

                        <tr>
                            <th>Files</th>
                            <th>Used</th>
                            <th>Spent</th>
                          </tr>

                      </table>
                    </div>
                  </div>
            
                </div></div>
              </div>
              <div class="column">
                <div class="card">..</div>
              </div>

            </div>








        
            </div>



        </nz-content>
        <nz-footer style="text-align: center;">Ant Design ©2019 Implement By Afras Ali</nz-footer>
      </nz-layout>
    </nz-layout>
    <ng-template #zeroTrigger>
      <i nz-icon type="menu-fold" theme="outline"></i>
    </ng-template>
  